/* Print */

@media print {
  html{
    background:transparent;
  }

  body{
    height:11in;
    position:relative;
  }

  footer{
    bottom:40px;
    left:0;
    margin:0;
    position:absolute;
    width:100%;

    @include box-sizing(border-box);
  }
}
